<%= form_for(attachment) do |f| %>
    <% if attachment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

          <ul>
            <% attachment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :sequence %>
      <%= f.text_area :sequence, class: 'required', size: '100x15' %>
    </div>

    <div class="field">
      <%= f.label :type_id %>
      <%= f.collection_select :type_id, Type.order(:name), :id, :name, include_blank: true, class: 'required' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>

<% unless @attachment.new_record? %>
    <% unless @attachment.data.blank? %>
        <%= @attachment.data %>
    <% end %>
<% end %>