<h1>Sequences</h1>

<table>
  <thead>
    <tr>
      <th>Sequence</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td width="80%"><%= truncate(attachment.sequence, length: 200) %></td>
        <td><%= attachment.type.try(:name) %></td>
        <td><%= link_to 'Show', attachment %></td>
        <td><%= link_to 'Download', "/attachments/download?id=#{attachment.id}" %></td>
        <td><%= link_to 'Destroy', attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sequence', new_attachment_path %>
