
<p class="pull-right">

  <%= link_to 'Download Sequence', "/attachments/download?id=#{@attachment.id}" %>
</p>
<p>
  <strong>Original Sequence:</strong>
  <br/>
  <br/>

  <%if @attachment.data.present? %>
      <textarea rows="15" cols="70"><%= raw(@attachment.sequence) %></textarea>
  <% end %>

</p>

<p>
  <strong>Converted Sequence:</strong>
  <br/>

  <%= @attachment.type.try(:name) %>
  <br/>
  <br/>
  <%if @attachment.data.present? %>
      <textarea rows="15" cols="70"><%= raw(@attachment.data) %></textarea>
  <% end %>
</p>

<%#= link_to 'Edit', edit_attachment_path(@attachment) %>
<%= link_to 'Back', attachments_path %>
